
API_HOST = "127.0.0.1"
API_PORT = 4545

OutPath = "./"

POSTGRESQL_HOST = "localhost
#Deprecated, will always use the default port 5432, will also be removed on the future
POSTGRESQL_PORT = 5432 
POSTGRESQL_USER = "postgres"
POSTGRESQL_PASSWORD = "postgres"
POSTGRESQL_DB = "ciringas_images_toolkit"

REDIS_HOST = "localhost"
#Deprecated, will always use the default port 6379, will also be removed on the future
REDIS_PORT = 6379

MINIO_USER = "minioadmin"
MINIO_PASSWORD = "minioadmin"
MINIO_HOST = "localhost"
#Deprecated, will always use the default port 9000, will also be removed on the future
MINIO_PORT = 9000
MINIO_USE_SSL = false

NODE_ENV = "development" # development, production, test

DATABASE_URL="file:./prisma/dev.db"